*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 150vh;
    background-color: #000000;
    background-color: #ff0000;
    background-image: linear-gradient(180deg, #bb0000 0%, #ff0000 50%, #000000 100%);
    


}


.nome{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.imagem{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img {
    height: auto;
    width: 200px;
}

.bio{
    display: flex;

    align-items: center;
    justify-content: center;
}

.mscs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    column-gap: 20px;
}

.bio p{
    font-size: 20px;
}





















