*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #5d5050;
background-image: linear-gradient(180deg, #5d5050 7%, #000000 40%, #FF0000 100%);


}


.nome{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    padding-right: 50px;
}

.imagem{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img {
    height: auto;
    width: 100px;
}

.bio{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mscs{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}





















